html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  vertical-align: baseline;
  appearance: none;
  -webkit-appearance: none;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

*,
*:hover {
  text-decoration: none;
}

*:focus,
:focus {
  outline: none !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: linear-gradient(192.02deg, #5CAAA8 0%, #ACD3AE 100%);
  height: 100%;

  .apartman-img {
    position: fixed;
    bottom: 0;
    left: calc(50% - 215px);
    width: 430px;
    height: 315px;
    display: block;
  }
}

.page-container {

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(192.02deg, #5CAAA8 0%, #ACD3AE 100%);
  z-index: 999999;
  display: flex;
  justify-content: center;


  .page {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Poppins';
    font-size: 16px;
    overflow: auto;

    h1 {
      font-size: 20px;
    }

    p {
      margin-bottom: 10px;
    }




    button {
      height: 40px;
      width: 130px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      cursor: pointer;

    }

  }
}

content {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 430px;
  height: calc(100vh - (100vh - 100%) - 30px);
  margin: 0 auto;

  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 111%;
    text-align: center;
    color: #FFFFFF;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40px;
    width: 100%;
    gap: 10px;
    justify-content: center;

    button {
      height: 40px;
      width: 110px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
    }
  }
}

.message {
  display: block;
  border-radius: 4px;
  margin: 8px;
  max-width: 100%;
  min-width: 0;
  width: calc(100% - 16px);
  transform-origin: center;
  color: rgba(255, 255, 255, 0.7019607843);
  background: #323232;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px rgb(0 0 0 / 14%), 0 1px 18px rgb(0 0 0 / 12%);
  pointer-events: auto;
  animation-name: fadeOut;
  position: absolute;
  bottom: 10px;
  z-index: 9999;
  padding: 10px;
  font-family: poppins;
}

/* Fading exits */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


table.apartman {
  border-collapse: collapse;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0px auto;
  user-select: none;

  tr {

    td {
      border: 5px solid #ccc;
      vertical-align: middle;
      text-align: center;
      font-size: 40px;
      font-family: arial;
      font-weight: 600;
      background-color: #efefef;

      &.isSelect {
        cursor: pointer;
        background-color: #fff;
      }

      &.number {
        color: #838383;
      }

      &.active {
        app-atama {
          display: block;
        }
      }

      &:focus {
        background-color: #efefef;
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  content {
    padding: 0 20px;

    h1 {
      font-size: 36px;
    }
  }
}
