<ng-container *ngIf="!isSuccess">
  <content>
    <h1>Skyscrapers Game</h1>
    <table class="apartman">
      <tr>
        <td style="border-top:none;border-left:none;background-color: transparent;"></td>
        <td class="number">{{Hint.Top1}}</td>
        <td class="number">{{Hint.Top2}}</td>
        <td class="number">{{Hint.Top3}}</td>
        <td class="number">{{Hint.Top4}}</td>
        <td style="border-top:none;border-right:none;background-color: transparent;"></td>
      </tr>
      <tr>
        <td class="number">{{Hint.Left1}}</td>
        <td class="isSelect" (click)="OpenPanel('r1c1')">{{Model.r1c1}}</td>
        <td class="isSelect" (click)="OpenPanel('r1c2')">{{Model.r1c2}}</td>
        <td class="isSelect" (click)="OpenPanel('r1c3')">{{Model.r1c3}}</td>
        <td class="isSelect" (click)="OpenPanel('r1c4')">{{Model.r1c4}}</td>
        <td class="number">{{Hint.Right1}}</td>
      </tr>
      <tr>
        <td class="number">{{Hint.Left2}}</td>
        <td class="isSelect" (click)="OpenPanel('r2c1')">
          {{Model.r2c1}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r2c2')">
          {{Model.r2c2}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r2c3')">
          {{Model.r2c3}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r2c4')">
          {{Model.r2c4}}
        </td>
        <td class="number">{{Hint.Right2}}</td>
      </tr>
      <tr>
        <td class="number">{{Hint.Left3}}</td>
        <td class="isSelect" (click)="OpenPanel('r3c1')">
          {{Model.r3c1}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r3c2')">
          {{Model.r3c2}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r3c3')">
          {{Model.r3c3}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r3c4')">
          {{Model.r3c4}}
        </td>
        <td class="number">{{Hint.Right3}}</td>
      </tr>
      <tr>
        <td class="number">{{Hint.Left4}}</td>
        <td class="isSelect" (click)="OpenPanel('r4c1')">
          {{Model.r4c1}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r4c2')">
          {{Model.r4c2}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r4c3')">
          {{Model.r4c3}}
        </td>
        <td class="isSelect" (click)="OpenPanel('r4c4')">
          {{Model.r4c4}}
        </td>
        <td class="number">{{Hint.Right4}}</td>
      </tr>
      <tr>
        <td style="border-bottom:none;border-left:none;background-color: transparent;"></td>
        <td class="number">{{Hint.Bottom1}}</td>
        <td class="number">{{Hint.Bottom2}}</td>
        <td class="number">{{Hint.Bottom3}}</td>
        <td class="number">{{Hint.Bottom4}}</td>
        <td style="border-bottom:none;border-right:none;background-color: transparent;"></td>
      </tr>
    </table>
    <div class="buttons">
      <button (click)="GenerateGame()">New</button>
      <button (click)="GiveAHint()" [disabled]="Hint.Top1 == null">Hint</button>
      <button (click)="isInfo=true;">About</button>

      <button (click)="Save()">Save to Cache</button>
      <button (click)="Load()" style="width: 180px;">Reload from Cache</button>
    </div>
  </content>
  <app-atama *ngIf="isShowPanel" (ngModelChange)="ChangeValue(activeNumber, $event);"></app-atama>
<div [ngClass]="!!message ? 'message' : ''">{{message}}</div>
</ng-container>

<ng-container *ngIf="isSuccess">
  <div class="finish">
    <div class="success">
      <div class="background background0"></div>
      <div class="background background1"></div>
      <div class="background background2"></div>
      <div class="background background3"></div>
      <div class="background background4"></div>
      <div class="background background5"></div>
      <div class="background background6"></div>
      <div class="background background7"></div>
      <div class="background background8"></div>
      <div class="background background9"></div>
      <div class="criterion">
        <div class="text text0">S</div>
        <div class="text text1">u</div>
        <div class="text text2">c</div>
        <div class="text text3">c</div>
        <div class="text text4">e</div>
        <div class="text text5">s</div>
        <div class="text text6">s</div>
        <div class="text text7">f</div>
        <div class="text text8">u</div>
        <div class="text text9">l</div>
        <div class="frame frame0"></div>
        <div class="frame frame1"></div>
        <div class="frame frame2"></div>
        <div class="frame frame3"></div>
        <div class="frame frame4"></div>
        <div class="frame frame5"></div>
        <div class="frame frame6"></div>
        <div class="frame frame7"></div>
        <div class="frame frame8"></div>
        <div class="frame frame9"></div>
        <div class="particle particle00"></div>
        <div class="particle particle01"></div>
        <div class="particle particle02"></div>
        <div class="particle particle03"></div>
        <div class="particle particle04"></div>
        <div class="particle particle05"></div>
        <div class="particle particle06"></div>
        <div class="particle particle07"></div>
        <div class="particle particle08"></div>
        <div class="particle particle09"></div>
        <div class="particle particle010"></div>
        <div class="particle particle10"></div>
        <div class="particle particle11"></div>
        <div class="particle particle12"></div>
        <div class="particle particle13"></div>
        <div class="particle particle14"></div>
        <div class="particle particle15"></div>
        <div class="particle particle16"></div>
        <div class="particle particle17"></div>
        <div class="particle particle18"></div>
        <div class="particle particle19"></div>
        <div class="particle particle110"></div>
        <div class="particle particle20"></div>
        <div class="particle particle21"></div>
        <div class="particle particle22"></div>
        <div class="particle particle23"></div>
        <div class="particle particle24"></div>
        <div class="particle particle25"></div>
        <div class="particle particle26"></div>
        <div class="particle particle27"></div>
        <div class="particle particle28"></div>
        <div class="particle particle29"></div>
        <div class="particle particle210"></div>
        <div class="particle particle30"></div>
        <div class="particle particle31"></div>
        <div class="particle particle32"></div>
        <div class="particle particle33"></div>
        <div class="particle particle34"></div>
        <div class="particle particle35"></div>
        <div class="particle particle36"></div>
        <div class="particle particle37"></div>
        <div class="particle particle38"></div>
        <div class="particle particle39"></div>
        <div class="particle particle310"></div>
        <div class="particle particle40"></div>
        <div class="particle particle41"></div>
        <div class="particle particle42"></div>
        <div class="particle particle43"></div>
        <div class="particle particle44"></div>
        <div class="particle particle45"></div>
        <div class="particle particle46"></div>
        <div class="particle particle47"></div>
        <div class="particle particle48"></div>
        <div class="particle particle49"></div>
        <div class="particle particle410"></div>
        <div class="particle particle50"></div>
        <div class="particle particle51"></div>
        <div class="particle particle52"></div>
        <div class="particle particle53"></div>
        <div class="particle particle54"></div>
        <div class="particle particle55"></div>
        <div class="particle particle56"></div>
        <div class="particle particle57"></div>
        <div class="particle particle58"></div>
        <div class="particle particle59"></div>
        <div class="particle particle510"></div>
        <div class="particle particle60"></div>
        <div class="particle particle61"></div>
        <div class="particle particle62"></div>
        <div class="particle particle63"></div>
        <div class="particle particle64"></div>
        <div class="particle particle65"></div>
        <div class="particle particle66"></div>
        <div class="particle particle67"></div>
        <div class="particle particle68"></div>
        <div class="particle particle69"></div>
        <div class="particle particle610"></div>
        <div class="particle particle70"></div>
        <div class="particle particle71"></div>
        <div class="particle particle72"></div>
        <div class="particle particle73"></div>
        <div class="particle particle74"></div>
        <div class="particle particle75"></div>
        <div class="particle particle76"></div>
        <div class="particle particle77"></div>
        <div class="particle particle78"></div>
        <div class="particle particle79"></div>
        <div class="particle particle710"></div>
        <div class="particle particle80"></div>
        <div class="particle particle81"></div>
        <div class="particle particle82"></div>
        <div class="particle particle83"></div>
        <div class="particle particle84"></div>
        <div class="particle particle85"></div>
        <div class="particle particle86"></div>
        <div class="particle particle87"></div>
        <div class="particle particle88"></div>
        <div class="particle particle89"></div>
        <div class="particle particle810"></div>
        <div class="particle particle90"></div>
        <div class="particle particle91"></div>
        <div class="particle particle92"></div>
        <div class="particle particle93"></div>
        <div class="particle particle94"></div>
        <div class="particle particle95"></div>
        <div class="particle particle96"></div>
        <div class="particle particle97"></div>
        <div class="particle particle98"></div>
        <div class="particle particle99"></div>
        <div class="particle particle910"></div>
      </div>
    </div>
    <button (click)="GenerateGame()">New Game</button>
  </div>
</ng-container>

<ng-container *ngIf="isInfo">
  <div class="page-container">
   <div class="page">
    <h1>About Game</h1>
    <div>
      <p>The Apartment Game is one of those easy-to-learn, addictive logic puzzles. This game doesn't require any math to solve, and instead requires only logic, and can be a source of entertainment for puzzle enthusiasts of all abilities and ages.</p>
      <p><b>Rule 1:</b> There cannot be a repeating number in each row and each column.</p>
      <p><b>Rule 2:</b> The numbers on the sides indicate the number of apartments visible when viewed from there. For example: If it says 4, it means you can see all the buildings. If the first building is 1-storey and the second building is 2-storey, you can see both the 1-storey and 2-storey buildings. Since it is in the order of 1,2,3,4, you can see all the buildings.</p>
      <p><b>The goal</b> is to fill each grid with the numbers 1 to 4. This stage of the game is similar to Sudoku. The basic rule is that each number must appear only once in each row and column. </p>
    </div>
    <button (click)="Close()">Close</button>
  </div>
</div>
</ng-container>


